<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
  </head>
<center>
{% load static %}
<img alt="Cant Find the Picture!" src="/media/documents/cowdenkids1.jpg" width="700" height="400"/> 
</center>
<h1 style="text-align:center;">Dogs and Cats Living Together</h1>
<h1 style="text-align:center;">MASS HYSTERIA!!!</h1>
<br>
<br>
<br>
<h2> Select one of the two links below to do the file uploads </h2>
<br>
<h3> The Simple Upload just uploads the file, while the Model Form Upload uploads the file and logs it into out Postgres database </h3>
<br>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>